@model IEnumerable<CentraliaDevTools.Models.TicketMember>

@{
    ViewData["Title"] = "TicketMembers";
}

<h1>TicketMembers</h1>

<p>
    <a asp-action="CreateMemberForTicket" asp-route-id="@ViewBag.TicketId">Add Member</a>
</p>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.UserName)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.TicketMemberID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketMemberID">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.TicketMemberID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
