@model TicketIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Status
            </th>
            <th>
                Location
            </th>
            <th>
                Description
            </th>
            <th>
                CreatedOn
            </th>
            <th>
                DateUpdated
            </th>
            <th>
                TicketMembers
            </th>
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <th>
                    Controls
                </th>    
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OpenTickets) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.TicketMembers)
            </td>
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <td>
                    <a asp-controller="TicketMembers" asp-action="Members" asp-route-id="@item.Id">Enroll</a> |
                </td>    
            }
        </tr>
}
    </tbody>
</table>