@model IEnumerable<CentraliaDevTools.Models.Ticket>

@{
    ViewData["Title"] = "Tickets";
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <environment include="Development,Staging">
        <p>random user = @ViewData["RandomID"]</p>
        <p>jesse@jesse.com id = @ViewData["JesseID"]</p>
    </environment>
</div>

<environment exclude="Production">
    <h3>Current Claims</h3>
    <ul>
        @foreach (var claim in User.Claims)
        {
            <li>@claim.Type - @claim.Value</li>
        }
    </ul>
</environment>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketStatus.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdated)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketStatus.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdated)
            </td>
            <td>
                <a asp-action="TicketMembers" asp-route-id="@item.Id">Enroll</a> |
            </td>
        </tr>
}
    </tbody>
</table>