@model IEnumerable<CentraliaDevTools.Models.TeamProjectMember>

@{
    ViewData["Title"] = "TeamProjectMembers";
}

<h1>TeamProjectMembers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamProject.TeamProjectID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamProject.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeamProjectMemberID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeamProjectMemberID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeamProjectMemberID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
