@model CentraliaDevTools.Models.Message

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MessageText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MessageText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateSent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateSent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsNew)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsNew)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sender.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MessageId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
