@model MessageIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
    @if (User?.IsInRole("Admins") ?? false)
        {
<table class="table">
    <thead>
        <tr>
            <th>
                New?
            </th>
            <th>
                MessageID
            </th>
            <th>
                Date
            </th>
            <th>
                Sender
            </th>
            <th>
                Receiver
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.AllMessages)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsNew)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MessageId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateSent)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Sender.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Receiver.UserName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.MessageId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
                    </td>
                </tr>
            }
        

    </tbody>
</table>
}
 @if (!User?.IsInRole("Admins") ?? false){
     <table class="table">
    <thead>
        <tr>
            <th>
                New?
            </th>
            <th>
                MessageID
            </th>
            <th>
                Date
            </th>
            <th>
                Sender
            </th>
            <th>
                Receiver
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FilteredMessages) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsNew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSent)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Sender.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Receiver.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MessageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
            </td>
        </tr>
 }


    </tbody>
</table>
}